<!-- Client Start  -->
<div class="themeix-client-area section-spacing-none bgcolor3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="client-portfolio d-flex align-items-center justify-content-end client-portfolio-center">
				    <div class="owl-carousel client-carousel">
						<div class="client-portfolio-wrap client-portfolio-center">
							<div class="portfolio-img"><img src="{{site.baseurl}}/assets/image/client-author.jpg" alt="client image" /></div>
							<p>The support of GTheme Market for my website is just a second away :) what takes hours for me is mostly a wink for these guys :) high5 GTheme Market Support and Dev Team </p>
							<div class="portfolio-intro">
								<div class="portfolio-name float-left">
									<a href="#">Robert Mill</a>
									<span>Web Developer</span>
								</div>
								<div class="portfolio-signature float-right">
									<div class="signature-img"><img src="{{site.baseurl}}/assets/image/signature.png" alt="signature image" /></div>
								</div>
							</div>
						</div>
						<div class="client-portfolio-wrap client-portfolio-center">
							<div class="portfolio-img"><img src="{{site.baseurl}}/assets/image/client-author.jpg" alt="client image" /></div>
							<p>I was looking for a great marketplace like ghsotsumo, researched and tested a few. finally found that website and these guys are really rockstar</p>
							<div class="portfolio-intro">
								<div class="portfolio-name float-left">
									<a href="#">Nouge Neue</a>
									<span>Businessman Owner</span>
								</div>
								<div class="portfolio-signature float-right">
									<div class="signature-img"><img src="{{site.baseurl}}/assets/image/signature.png" alt="signature image" /></div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="client-group d-flex align-items-center client-group-center">
                    <div class="client-group-wrap client-group-center">
                        <h2>A few more reasons to <a href="#">join us</a></h2>
                        <div class="client-group-container">
                            <div class="client-group-box clearfix">
                                <div class="client-group-icon">
                                    <span><img src="{{site.baseurl}}/assets/image/settings.png" alt="client group icon" /></span>
                                </div>
                                <div class="client-group-info">
                                    <h5>Best template settings</h5>
                                    <p>Consectetuer consequat eget ridiculus tortor Ipsum quo pede quam adipiscin .</p>
                                </div>
                            </div>
                            <div class="client-group-box clearfix">
                                <div class="client-group-icon">
                                    <span><img src="{{site.baseurl}}/assets/image/support.png" alt="client group icon" /></span>
                                </div>
                                <div class="client-group-info">
                                    <h5>One on one support</h5>
                                    <p>Consectetuer consequat eget ridiculus tortor Ipsum quo pede quam adipiscin .</p>
                                </div>
                            </div>
                            <div class="client-group-box clearfix">
                                <div class="client-group-icon">
                                    <span><img src="{{site.baseurl}}/assets/image/cloud.png" alt="client group icon" /></span>
                                </div>
                                <div class="client-group-info">
                                    <h5>Product updates</h5>
                                    <p>Consectetuer consequat eget ridiculus tortor Ipsum quo pede quam adipiscin .</p>
                                </div>
                            </div>
                            <div class="client-group-button">
                                <a href="#" class="btn button-style2 button-color2" data-text="join us today"><span>join us today</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client End  -->