<div class="row">
    <div class="col-md-12">
        <div class="join-box text-center">
            <div class="join-box-wrap">
                <div class="join-box-title">
                    <h2>Like Our Themes ? Free Trial </h2></div>
                <p>Sign up for free trial today and download our <a href="#">free themes </a> from our marketplace. We are offering 1 month free trial for everyone. Just take the offer now and get to know about about theme. We offer a 14 Day </p>
                <div class="joining-box-btn"><a href="https://pay.paddle.com/checkout/527080" class="btn button-style2 button-color2" data-text="For 1 Month"><span>30 Days Free Trial</span></a></div>
                <p>All major credit cards are accepted and PayPal too! Payment is processed through 2Checkout, a 100% secured website (see below).</p>
                <div class="join-box-paddle"><img src="/assets/image/paddle.png" alt="paddle service" /></div>
            </div>
        </div>
    </div>
</div>