<!-- Title Start  -->
<div class="themeix-title-area section-spacing bgcolor2">
    <div class="slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrapper text-center wow fadeIn" data-wow-delay="0.1s">
                        <h1 class="display-4"><span>254+</span> Ghost! Themes</h1>
                        <p>Welcome to our ghost Template gallery! Every month we release minimum of one ghost template and they all come bundeld with PSD files, demos and extensions used in the production.</p>
                        <div class="title-button-container">
                            <a href="#" class="btn  button-style1 button-color1" data-text="browse our theme"><span>browse our theme</span></a>
                            <a href="#" class="btn  button-style1 button-color3" data-text="download now"><span>download now</span></a>
                            <div class="title-click-see"><img src="/assets/image/download-click.png" alt="click image" /></div>
                        </div>
                        <span>All Text Included</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title End  -->