<!-- Pricing Start  HomePage -->
<div id="our-pricing" class="themeix-pricing-area section-spacing bgcolor1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2> Choose Your  Subscription</h2>
                    <p>GTheme Market offering a best price for the exclusive ghost themes marketplace. Take our membership and sit relax for your future projects.</a> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.2s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/diamond.png" alt="" /><span><sup>$</sup>29</span></h2>
                        <h4>Personal</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p>3 Months Membership</p>
                            </li>
                            <li>
                                <p>1 Website License</p>
                            </li>
                            <li>
                                <p>Access to 2 templates
                                    <p>
                            </li>
                            <li>
                                <p>Support Forum Access</p>
                            </li>
                            <li>
                                <p>5% discount on renewal</p>
                            </li>
                            <li>
                                <p>5% discount on Ghost Hosting</p>
                            </li>
                            <li>
                                <p>Priority Support</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="https://pay.paddle.com/checkout/527075" class="btn button-style2 button-color3" data-text="For 3 Month"><span>Buy Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.4s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/favorites.png" alt="" /><sup>$</sup>49</h2>
                        <h4>Business</h4>
                    </div>
                    <div class="pricing-list">
                            <ul class="list-inline">
                            <li>
                                6 Months Membership
                            </li>
                            <li>
                               3 Websites License
                            </li>
                            <li>
                               Access to 6 templates
                                  
                            </li>
                            <li>
                               Support Forum Access
                            </li>
                            <li>
                             10% discount on renewal
                            </li>
                            <li>
                               10% discount on Ghost Hosting
                            </li>
                            <li>
                                <p>Priority Support</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="https://pay.paddle.com/checkout/527076" class="btn button-style2 button-color2" data-text="For 6 Months"><span>Buy Now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.2s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/idea.png" alt="" /><sup>$</sup>99</h2>
                        <h4>Developer</h4>
                    </div>
                    <div class="pricing-list">
                            <ul class="list-inline">
                            <li>
                              1 Year Membership
                            </li>
                            <li>
                               Unlimited Websites License
                            </li>
                            <li>
                               Access to all templates
                                   
                            </li>
                            <li>
                                Support Forum Access
                            </li>
                            <li>
                              20% discount on renewal
                            </li>
                            <li>
                               15% discount on Ghost Hosting
                            </li>
                            <li>
                               Priority Support
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="https://pay.paddle.com/checkout/527077" class="btn button-style2 button-color1" data-text="For 1 Year"><span>Buy Now</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% include join_now_widget.html %}
    </div>
</div>
<!-- Pricing End  -->