<!-- Pricing Start  USED IN inner pages -->
<div id="our-pricing" class="themeix-pricing-area section-spacing bgcolor1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2> Choose Your  pricing plan</h2>
                    <p>Get access to all our Ghost themes for the price of one. A new theme each month. ortor, diam donec a eget, elit id tellus eu eget <a href="#">total 589+ theme</a> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box pricing-box2 wow zoomIn" data-wow-delay="0.2s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/diamond.png" alt="image info" /><span><sup>$</sup>59</span></h2>
                        <h4>STANDARD PACK</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style1 button-color1" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box pricing-box3 wow zoomIn" data-wow-delay="0.6s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/favorites.png" alt="image info" /><sup>$</sup>59</h2>
                        <h4>PREMIUM PACK</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style1 button-color2" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box pricing-box4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/idea.png" alt="image info" /><sup>$</sup>59</h2>
                        <h4>ALL THEMES PACKAGE</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="image info" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="image info" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style1 button-color3" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% include join_now_widget.html %}
    </div>
</div>
<!-- Pricing End  -->