
<!-- Slider Start  -->
<div class="themeix-slider-area section-spacing3 bgcolor4">
    <div class="slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="slider-text">
                        <h1 class="display-4">Your Ghost Marketplace</h1>
                        <h4>Get high quality ghost themes in every month without extra money  </h4>
                        <div class="month-button-ptn">
                            <a href="https://pay.paddle.com/checkout/527076" class="btn  button-style2 button-color3" data-text="For 6 Months"><span>Join Now</span></a>
                            <a href="#our-pricing" class="btn  button-style2 button-color2" data-text="Our Pricing"><span>View Pricing</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="slider-layout wow slideInRight">
                        <div class="slider-layout-date text-center">
                            <h5>April - 2018 Ghost Template</h5>
                        </div>
                        <div class="slider-layout-img"><img src="/assets/image/theme-layout.jpg" alt="theme layout" /></div>
                    </div>
                </div>
            </div>
            <div>
			    <div class="slider-icon list-inline">
					<i class="icon-item-1 themeix-icon1"><img data-scale="1.1" src="/assets/image/light-bulb.png" alt="header icon bg" /></i>
					<i class="icon-item-2 themeix-icon3"><img data-scale="1.1" src="/assets/image/ellipse.png" alt="header icon bg" /></i>
					<i class="icon-item-3 themeix-icon1"><img data-scale="1.1" src="/assets/image/angle.png" alt="header icon bg" /></i>
					<i class="icon-item-4 themeix-icon4"><img data-scale="1.1" src="/assets/image/layout-pen.png" alt="header icon bg" /></i>
					<i class="icon-item-5 themeix-icon2"><img data-scale="1.1" src="/assets/image/ellipse.png" alt="header icon bg" /></i>
				</div>
			</div>
        </div>
    </div>
</div>
<!-- Slider End  -->