<!-- Client Start  -->
<div class="themeix-client2-area section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>What people say about us</h2>
                    <p>Get access to all our Ghost themes for the price of one. A new theme each month.ortor, diam donec a eget, elit id tellus eu eget dignissim vitae</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client2-portfolio d-flex justify-content-center">
                    <div class="portfolio-carousel owl-carousel">
						<div class="client-portfolio-wrap float-left">
							<div class="portfolio-img"><img src="{{site.baseurl}}/assets/image/client-author.jpg" alt="client image" /></div>
							<p>Aliquam massa ad rutrum diam sed. Faucibus eget sit senectus, libero interdum mauris a. Nonummy massa a at, laoreet dui dolor at cras udin iet donec vestibulum, </p>
						</div>
						<div class="client-portfolio-wrap float-left">
							<div class="portfolio-img"><img src="{{site.baseurl}}/assets/image/client-author.jpg" alt="client image" /></div>
							<p>Aliquam massa ad rutrum diam sed. Faucibus eget sit senectus, libero interdum mauris a. Nonummy massa a at, laoreet dui dolor at cras udin iet donec vestibulum, </p>
						</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Client End  -->